.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    font-weight: bold;
    border-bottom: 2px solid #bbb;
    align-items: center;
    margin: 0.7rem 0;
}

.item-info {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    align-items: center;
}

.amount {
    font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  color: #363636;
}


.buttons button{
    cursor: pointer;
    background-color: white;
    font-size: large;    
    margin: 0 0.25rem;
    border: 1.25px solid black;
    border-radius: 5px;
    padding: 0 0.7rem;
    width: 2rem;
}

.buttons button:active,
.buttons button:hover {
    background-color: brown;
    color: white;
}

