.button {
  cursor: pointer;
  background-color: rgb(136, 4, 4);
  color: white;
  font: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  padding: 0.5rem 3rem;
  border: none;
}

.button:hover,
.button:active {
  background-color: rgb(179, 103, 103);
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.6rem;
}

.badge {
  background-color: rgb(179, 18, 18);
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  
}

