.contact-window{
    width: 55%;
    min-width: 30rem;
    max-width: 50rem;
    margin: -5rem auto 2rem;
    position: relative;
    
}


.items p {
    color: violet;
    margin: 0 auto;    
}

.items {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin:1rem auto;    
    font-size: large;
    color: white;
}

.items label {
    font-weight: bold;
    margin: auto;
    
}

.items input {
    text-align: center;
    font-size: large;
    border-radius: 10px;
}
.items input:user-invalid {
    background-color: tomato;
}


.items textarea{
    height: 5rem;
    /* font-size: large; */
    font: inherit;
}

.actions {
    width: 80%;
    margin: 2rem auto ;
    display: flex;
    justify-content: center;
}

.actions button {
    height: 2.3rem;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}


.send:hover {
    background-color: teal;
}

.clear:hover {
    background-color: rgb(206, 20, 20);
}

.contact-window div{
    background-color: brown;
}

