.form button {
    background-color: rgb(110, 0, 24);
    color:white;
    font-weight: bold;
    font-size: large;    
    border-radius: 20px;
    padding: 0.3rem 2rem;
    cursor: pointer;
}

.form {
    text-align: right;
    /* margin: 2rem 0; */
    
}

.form button:hover,
.form button:active {
    background-color: rgb(168, 48, 27);
}

@media screen and (max-width: 500px){
    .form {
        text-align: center;
        padding: 1rem;
    }
}