.beans {
    width: 80%;
    margin: 1rem auto;
    position: relative;
    
}

.beans ul{
    list-style: none;
}

.beans-loading {
    text-align: center;
    color: white;
    font-size: 2rem;
}

.beans-error {
    text-align: center;
    color: red;
    font-size: 2rem;
}