.add-product-window div {
  background-color: brown;
  color: white;
  text-align: center;
  max-width: 1148px;  
  position: relative;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.details {
  width: 40%;
}

.details div,
.details-description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 1rem;
}

.details-wraper{
  width: 40%;
}

.new-product input,
select,
textarea,
label {
  font: inherit;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}


.details-description textarea {
  height: 100%;
  
} 
.actions{
  display: inline-flex;
  
}
.actions button {
  font: inherit;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: darkred;
  color: white;
  width: 15rem;
  height: 4rem;
  
}
.actions button:active,
.actions button:hover {
  background-color: rgb(29, 143, 14);
  border-color: rgb(35, 35, 204);
  color: rgb(250, 250, 250);
}

@media screen and (max-width: 670px) {
  .actions {
    flex-direction: column;
  }
  .actions button{
    margin-bottom: 1rem;
  }
}