.NavigationItems{
    height: 80%;
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .NavigationItems{
        display: none;
    }
}
