.NavigationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 5rem;
    font-weight: bold;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 10px;
    margin: 0 5px;
    box-sizing: border-box; 
    
}

.NavigationItem:hover,
.NavigationItem:active{
    background-color: rgb(179, 103, 103);
}

.NavigationItem a{
    text-decoration: none;
    color: white;
    
    
}