.NavigationItems{
    height: 80%;
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}

@media screen and (max-width: 810px) {
    .NavigationItems{
        display: none;
    }
}
