.bean {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #bbb;
    align-items: center;
    
}

.description {
    font-style: italic;
}

.price {
    color: rgb(189, 5, 5);
    font-weight:bold;
    font-size: large;
    margin-top: 0.4rem
}